<a ui-sref="pins.index">Back to All Pins</a>
<hr>
<div>
<form>
  <label>
    Title:
    <input type="text" ng-value="editPin.title" ng-model="editPin.item_name">
  </label>
  <br>
  <label>
    Buy/Sell:
    <div>
      <input type="radio" name="BuySell" value="true" ng-value="true" ng-model="editPin.buy_sell">Buy
      <input type="radio" name="BuySell" value="false" ng-value="false" ng-model="editPin.buy_sell">Sell
    </div>
  </label>
  <br>
  <label>
    Description:
    <textarea ng-model="editPin.description"></textarea>
  </label>
  <br>
  <button ng-click="updatePin()">Update Pin</button>
  <br>
  <hr>

</form>
{{ editPin }}
</div>
